@charset "utf-8";
/* CSS Document */

/* This will stop the coloring of all the <a> tags.
I plan to style the links myself. */
a {
    color: inherit;
    text-decoration: none;
}
a:hover 
{
     color: inherit;
     text-decoration: none;
     cursor: pointer;  
}

/* This is where I style the links myself */
.link {
	color: #005376;
}

.link:hover {
	color: #005376;
	text-decoration: underline;
}

.blockquote {
	width: 70%;
	border: 0px;
}

#navigation-bar {
	background-color: #37393d;
}

#navigation-bar-text {
	color: white;
	align-content: right;
	padding-right: 10px;
}

#about {
	background-color: #005376;
	color: white;
}

#about-text-box {
	width: 70%;
}

#services {
	background-color: #005376;
	color: white;
}

#contact {
	background-color: #005376;
	color: white;
}